@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container{
    width: 200px;
    height: 200px;
    background: black;
    color: white;
    
}

.container1{
    width: 400px;
    height: 400px;
    background: #383838;
    color: white;
    
    
}

.minContainer{
    width: 220px;
    height: 200px;
    background: black;
    color: white;
    
    margin-right: 75px;
    margin-left: 75px;
    margin-top: 75px;
    margin-bottom:  75px;
}

/*for the 4th problem*/

.containerC41{
    width: 200px;
    height: 200px;
    background: #383838;
    color: white;
}

.containerC42{
    width: 200px;
    height: 200px;
    background: black;
    color: white;
    margin-top: 50px;
    margin-left: 75px;
}

.x{
    display: inline;
}


.containerC61{
    width: 400px;
    height: 200px;
    background: #383838;
    color: white;
}

.containerC62{
    width: 100px;
    height: 100px;
    background: black;
    color: white;
    
}

.emptyContainer{
    height: 68vh;
}

.container71{
    width: 400px;
    height: 400px;
    background: #383838;
    color: white;
    
    
}

.minContainer72{
    width: 220px;
    height: 200px;
    background: black;
    color: white;

}


/*9th problem*/

.container91{
    width: 200px;
    height: 400px;
    background: #383838;
    color: white;
    
    
}

.minContainer92{
    width: 100px;
    height: 100px;
    background: black;
    color: white;

}

/*10th problem*/

.container101{
    width: 400px;
    height: 200px;
    background: #383838;
    color: white;
    
    
}

.minContainer102{
    width: 100px;
    height: 100px;
    background: black;
    color: white;

}

/*11th problem*/

.container111{
    width: 300px;
    height: 600px;
    background: #383838;
    color: white;
}

.minContainer112{
    width: 250px;
    height: 300px;
    background: black;
    color: white;
}

.minContainer113{
    width: 200px;
    height: 200px;
    background: grey;
    color: white;
}

/*12th problem*/

.container121{
    width: 200px;
    height: 400px;
    background: #383838;
    color: white;
    margin-bottom: 200px;
}

.minContainer122{
    width: 150px;
    height: 200px;
    background: black;
    color: white;
}

.minContainer123{
    width: 100px;
    height: 100px;
    background: grey;
    color: white;
    margin-top: 120px ;
    margin-left: -50px ;
}

.extraContainer{
    width: 300px;
    height: 500px;
    margin-top: 160px;
    padding-top: 20px;
    padding-left: 120px;
}

/*13th problem*/

.blackCube{
    width: 200px;
    height: 200px;
    background: black;
    color: white;
}
.greyCube{
    width: 200px;
    height: 200px;
    background: #383838;
    color: white;
}
.spacing{
    margin-top: 50px;
    margin-left: 75px;
}



/*15th problem*/

.blackCube15{
    width: 200px;
    height: 200px;
    background: black;
    color: white;
}
.greyCube15{
    width: 400px;
    height: 400px;
    background: #383838;
    color: white;
}
.spacing151{
    margin-top: -400px;
    margin-left: 650px;
}
.spacing152{
    margin-top: 350px;
}
.spacing153{
    margin-top: -400px;
    margin-left: 450px;
}